{% extends 'pdrs/base.html' %}
{% load static %}

{% block content %}
<body>
  <div class="text-center">
    <h1>
    Welcome in PDRS - Pizza Dough Recipe Saver
    </h1>

    <a class="btn btn-primary btn-lg mb-3" href="{% url 'pdrs:ingredient_list' %}" >Ingredient List</a> <br/>
    <a class="btn btn-primary btn-lg" href="{% url 'pdrs:Recipe_list' %}" >Recipe</a>
  </div>

</body>
{% endblock %}

{% block extrastyle %}
<style>
a {
  font-size: 2rem;
}
</style>
{% endblock %}

{% block extras %}
<script>
</script>
{% endblock %}