{% extends 'pdrs/base.html' %}
{% load static %}

{% block content %}
<body>
    <div class="col-12 mx-4 mt-4" >
        <h1>Ingredient list</h1>

                <table class="table table-striped table-hover" style="width:25%">
                    <tr>
                        <th>Ingredient name</th>
                        <th>Dough</th>
                        <th>Sauce</th>
                        <th>Pizza</th>
                    </tr>
                    {% for ingredient in ingredient_list %}
                    <tr>
                        <td style="width:25%">{{ingredient.name}}</td>
                        <td style="width:5%">{{ingredient.dough_bool}}</td>
                        <td style="width:5%">{{ingredient.sauce_bool}}</td>
                        <td style="width:5%">{{ingredient.pizza_bool}}</td>
                    </tr>
                    {% endfor %}
                </table>

        <h2>Add new ingredient:</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Add" />
        </form>
        <p>
            <a href="{% url 'pdrs:home_page' %}" >Home Page</a>
        </p>
    </div>
</body>
{% endblock %}

{% block extrastyle %}
<style>
</style>
{% endblock %}

{% block extras %}
<script>
</script>
{% endblock %}