{% extends 'pdrs/base.html' %}
{% load static %}

{% block content %}
<body>
    <h1>Recipe list</h1>

    <h2>Add new recipe:</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add" />
    </form>

    <table>
        <tr>
            <td>
                <table border="1px solid black">
                    <tr>
                        <th>Dough recipe</th>
                    </tr>
                    {% for dough in dough_list %}
                    <tr>
                        <td>{{dough.id}}</td>
                        <td><a href="{% url 'pdrs:recipeedit_details' dough.id %}" >{{dough.name}}</a></td>
                        <td>edit</td>
                    </tr>
                    {% endfor %}

                </table>
            </td>
            <td>
                <table border="1px solid black">
                    <tr>
                        <th>Sauce recipe</th>
                    </tr>
                    {% for sauce in sauce_list %}
                    <tr>
                        <td>{{sauce.id}}</td>
                        <td><a href="{% url 'pdrs:recipeedit_details' sauce.id %}" >{{sauce.name}}</a></td>
                        <td>edit</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    </table>

    <p>
        <a href="{% url 'pdrs:home_page' %}" >Home Page</a>
    </p>


</body>
{% endblock %}

{% block extrastyle %}
<style>
</style>
{% endblock %}

{% block extras %}
<script>
</script>
{% endblock %}